.sticky-container {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 30px;
}

main.ant-layout-content .course-management-wrapper {
    width: 100%;
    display: block;
    background-color: #f7eee5;
    height: auto;
    padding-bottom: 50px;
    min-height: calc(100vh - 50px);

    .course-management-header {
        width: 100%;
        height: 50px;
        background-color: #464c4f;   
        color: #fff;
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-left: 10px;
    }
    
    .add-course-section {
        margin-top: 10px;
        padding: 0 10px;
    }
    
    .filter-course input {
        width: 100%;
        height: 30px;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        padding-left: 10px;
        border: 1px solid grey !important;
    }
    
    .filter-course input[type="text"]:focus-visible {
        outline: none;
        border: 2px solid #3aaf9f !important;
    }
    
    .course-container {
        padding: 0 10px;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        margin: 0 auto !important;
        text-align: center;
        overflow-y: auto;
    }
    
    .course-item {
        border-radius: 4px;
        margin: 0 20px;
        background-color: #fff;
        height: 200px;
        cursor: pointer;
        padding-left: 20px !important;
        border: 2px solid #287aa3;
        border-left: 96px solid #287aa3;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .course-title {
        font-size: 20px;
        font-weight: 600;
        color: #464c4f;
        margin-top: 10px;
        text-align: left;
    }
    
    .course-category {
        font-weight: 600;
        background-color: #ffe7d8;
        color: #f1696f;
        padding: 5px 10px;
        padding-bottom: 7px;
        border-radius: 2px;
        display: block;
        width: fit-content;
    }
    
    .course-description {
        padding: 10px 5px;
        text-align: left;
    }
    
    .manage-course {
        text-align: right;
        padding-right: 10px;
        padding-top: 10px;
        display: flex;
        justify-content: flex-end;
    }
    
    .manage-course .ant-btn {
        width: 70px;
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 3px;
    }
    
    .action-button {
        font-size: 10px;
    }
    
    body::-webkit-scrollbar {
        width: 0.5em; /* adjust the width to your liking */
      }
      
    body::-webkit-scrollbar-thumb {
    background-color: #d2d2d2; /* adjust the color to your liking */
    border-radius: 1em; /* adjust the border radius to your liking */
    }
    
    body::-webkit-scrollbar-track {
    background-color: #f7eee5; /* adjust the color to match your container background */
    }
}

