main.ant-layout-content .content-management-wrapper {
    width: 100%;
    display: block;
    height: auto;
    padding-bottom: 50px;
    min-height: calc(100vh - 50px);
}


.content-management-wrapper {
    .sticky-container {
        position: sticky;
        top: 0;
        z-index: 1;
        padding-bottom: 30px;
    }

    .content-management-header {
        width: 100%;
        height: 50px;
        background-color: #464c4f;
        color: #fff;
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-left: 10px;

        .back-button {
            margin-left: auto;
            margin-right: 20px;
            margin-bottom: 5px;
        }
    }

    .stylish-slash {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 1.5rem;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        padding: 2px 4px;
        border-radius: 4px;
        background-color: #f5f3f3;
        margin-bottom: 3px;
    }

    .course-section {
        background-color: #ffbd03;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 4px;
        margin-right: 4px;
        font-size: 10px;
        padding-top: 2px;
        margin-bottom: 7.5px;
        margin-left: 17px;
        margin-right: 7px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 2px;
    }

    .section-content {
        display: block;
        padding: 2px 7px;
        padding-bottom: 2px;
        margin-left: 10px;
        background-color: red;
        font-size: 14px;
        margin-bottom: 7px;
        letter-spacing: 1px;
    }

    .add-section-content {
        margin-top: 10px;
        margin-left: 10px;
    }

    .content-container {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 4px;
        margin: auto;
    }

    .content-item {
        display: flex;
        margin: 10px;
    }

    .content-preview {
        flex-grow: 1;
        border-radius: 7px;
        border-top: 2px solid rgba(138, 146, 158, 0.604);
        border-bottom: 2px solid rgba(138, 146, 158, 0.604);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #efeded;
    }

    .content-main {
        flex-grow: 3;
        flex-basis: 250px;
        border: 2px solid rgba(138, 146, 158, 0.604);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 8px;
        background-color: #dae3e9;
        color: #000;
        border-radius: 7px;
    }

    .content-manage {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        border-top: 2px solid rgba(138, 146, 158, 0.604);
        border-bottom: 2px solid rgba(138, 146, 158, 0.604);
        background-color: #efeded;
    }

    .button {
        width: 40%;
        height: 40%;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px 0;
    }

    .content-section {

        h3,
        p {
            margin: 0;
        }
    }

    .btn-preview {
        font-style: italic;
        background-color: #007BFF;
        color: #fff;
    }

    .btn-preview:hover {
        background-color: #fff;
        color: #007BFF;
    }

    .btn-edit,
    .btn-delete {
        width: 45%;
        height: 34%;
    }

    .conent-title {
        font-size: 12px;
        letter-spacing: 0.7px;
    }

    .content-url {
        font-size: 8px;
        letter-spacing: 0.8;
        color: grey;
    }

    .content-container.dragging {
        background-color: #e1f1ff;
        border: 2px solid #b7b7b7;
    }
}