.edit-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    
    .small-font-input {
        font-size: 12px;
    }
    
    .small-font-input .ant-select-selection-item {
        font-size: 12px;
    }

      .edit-content-form-wrapper {
        width: 100%;
        max-width: 650px;
        background-color: #ffffff;
        border-radius: 9px;
        padding-bottom: 50px;
        padding-top: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      .edit-content-form-wrapper h2 {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 24px;
        color: #fff;
        background-color: #464c4f;
        margin-bottom: 40px;
        border-radius: 9px 9px 0 0;
        padding: 20px 0;
      }
    
      
      .form-container {
        padding: 0 150px;
        width: 100%;
        min-width: 600px;
      }
      
      .edit-content-form-wrapper .ant-form-item {
        margin-bottom: 16px;
      }
      
      .edit-content-form-wrapper .ant-form-item:last-child {
        margin-bottom: 0;
      }
      
      .edit-content-form-wrapper .add-course-form-button {
        width: 100%;
        margin-bottom: 10px;
      }
      
      .edit-content-form-wrapper .cancel-button {
        background-color: #f0f2f5;
        border-color: #d9d9d9;
        color: #000;
      }
      
    .ant-form-item-required {
        font-size: 12px !important;
    }
    
    .error-message {
        width: 100%;
        max-width: 100%;
    }
    
    .cancel-button {
        background-color: #f0f2f5;
        color: #000;
        margin-left: 4px;
        border-radius: 5px;
    }
    
    .update-section-button {
        border-radius: 5px;
    }
}