.ant-layout-content {
    margin: 0;
    padding: 0;
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.content-wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 25px;
    max-width: 960px;
}

.profile-container {
    height: auto;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding-bottom: 75px;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-color: #b0e5fb;
    overflow: hidden;
    text-align: center;
}

.profile-image svg {
    width: 64px;
    height: 64px;
    color: #fff;
}
  
.profile-name {
    margin-top: 32px;
    color: #373a5a;
    letter-spacing: 1.03px;
}

.profile-email {
    color: #373a5a;
    letter-spacing: 1.1px;
}

.profile-edit-icon {
    position: absolute;
    top: 30px;
    right: 78px;
    font-size: 15px;
    color: grey;
    font-weight: bold;
    cursor: pointer;
}

.edit-icon {
    font-size: 15px;
    padding-right: 2px;
}

#profile-update-form {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 140px;
}