.header-section {
    background-color: #1C1D1F !important;
    height: 50px !important;
    line-height: 48px !important;
    color: #fff !important
}

.logo {
    font-size: 40px;
    line-height: normal;
}

.content-container {
    height: 100%;
    width: 100%;
    max-width: 1366px;
    margin: auto;
    background-color: #fff;
    color: rgba(0,0,0,.87);
}

.content-list {
    height: calc(100vh - 50px);
    background-color: #FFFFFF;
    border-right: 1px solid #D2D2D2;
    padding: 70px 0;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-header {
    margin: 10px 0;
    padding: 10px 27px;
    text-align: left;
}