.add-user {
    background-color: #0056d2;
    margin-bottom: 12px;
}

.add-user:hover {
    background-color: rgba(4, 90, 4, 0.788) !important;
}

.user-details {
    width: 100%;
}

.user-details .ant-table-row:nth-child(even) {
    background-color: #fafafa;
  }

  .user-details .ant-table-thead > tr > th {
    background-color: rgba(1, 19, 46, 0.6039215686); /* Set the desired background color for the table header */
    color: #ffffff; /* Set the desired text color for the table header */
  }

.user-details .ant-table-row .ant-table-cell-row-hover {
    background-color:  #cce5ff !important;
}

.user-details .ant-table-row * {
    border-radius: 0 !important;
}

.user-details .ant-table-row .action-button {
    border-radius: 4px !important;
}

.ant-menu {
    margin-top: 18px;
}

.ant-menu-item-selected {
    border-radius: 4px !important;
    background-color: #0056d2 !important;
}

.inner-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start !important;

    .action-button {
        font-size: 12px;
    }
}